* {
    box-sizing: border-box;
}

body {
    background-image: url(./mapBackground.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
    margin: 2em;
}

.text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: large;
    background-color: bisque;
}

.header {
    border: 3px;
    border-style: solid;
}

.header img {
    max-width: 10%;
}

.stats {
    flex-direction: column;
    align-items: center;
}

.projects {
    border:3px;
    border-style: solid;
}

.projects img {
    max-height: 200px;
}
